:root {
  --theme-color: #2196f3;
  --title-color: #212121;
  --bgcolor-accent: #2f303a;
  --white-color: #ffffff;
  --text-color: #757575;
  --bgcolor2: #f5f4fa;
  --box-shadows: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --box-shadows-item: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --box-shadows-btn: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --clients-color: #afb1b8;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  overflow: hidden;
}
.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline:  1px solid tomato; */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* --------------HEADER------------------- */
.page-header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}
/*-------------------- LOGO --------------- */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: black;
  letter-spacing: 0.03em;
}

.logo .web {
  color: var(--theme-color);
}
.footer-span {
  color: var(--white-color);
}

/* -----------------Navigation-----------  */
.nav-top {
  display: flex;
  margin-left: 93px;
}

.nav-top .item:not(:last-child) {
  margin-right: 50px;
}
.nav-top .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-top .link:hover,
.nav-top .link:focus {
  color: var(--theme-color);
}
.nav-top .link.current {
  color: var(--theme-color);
}
.contacts-top {
  display: flex;
  margin-left: auto;
}
.contacts-top .item + .item {
  margin-left: 50px;
}
.contacts-top .link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-top .link:hover,
.contacts-top .link:focus {
  color: var(--theme-color);
}
.contacts-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--clients-color);
}
.contacts-top a:hover,
.contacts-top a:focus {
  fill: var(--theme-color);
}
.top-icon {
  margin-right: 10px;
}

.hero {
  background-color: var(--bgcolor-accent);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Img-hero-bg.jpg);

  background-position: center;
}
.hero-title {
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
  text-align: center;
}

/* ---------------- Button -------------  */
/* ---------------- Button -------------  */
.button {
  background-color: var(--bgcolor2);
  color: var(--title-color);
  border-color: var(--bgcolor2);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border-radius: 4px;
  min-width: 73px;
  border-style: none;
}

.button.active:hover,
.button.active:focus {
  color: var(--white-color);
  background-color: var(--theme-color);
  border-color: var(--theme-color);
  box-shadow: var(--box-shadows-btn);
}

.button-hero {
  color: var(--white-color);
  background-color: var(--theme-color);
  border-color: var(--theme-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-style: none;
  padding: 10px 32px;
}
.button-hero:focus,
.button-hero:hover {
  background-color: var(--bgcolor2);
  color: var(--title-color);
  border-color: var(--bgcolor2);
}
.button-list {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 50px;
}
.button-list .item {
  box-shadow: var(--box-shadow);
  border-radius: 4px;
}
.button-list .item:not(:last-child) {
  margin-right: 8px;
}
.button-list .button {
  padding: 6px 22px;
}

/* -----------------Features----------------  */

.features-list ul {
  display: flex;
  justify-content: space-between;
}
.features-list .item {
  width: 270px;
  margin-left: 30px;
}
/* .features-list .item::before {
  display: block;
  content: '';
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
} */
/* .features-list .item + .item {
  margin-left: 30px;
} */

.features-list .item:first-child {
  margin-left: 0;
}
.features-list .text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.features-list .title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-svg {
  display: block;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--bgcolor2);
  padding: 25px 100px;
}

/*--------------- What we do------------------ */
.whatwedo {
  padding-bottom: 94px;
}
.whatwedo-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.whatwedo-item {
  margin-left: 30px;
}
.whatwedo-item:first-child {
  margin-left: 0;
}

/* ------------------Comanda ------------ */
.comanda {
  background-color: var(--bgcolor2);
}
.comanda-list {
  display: flex;
  justify-content: center;
}
.comanda-item {
  box-shadow: var(--box-shadows);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  margin-left: 30px;
}
.comanda-item:first-child {
  margin-left: 0;
}

.comanda-thumb {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  /* align-content: center; */
}
.comanda .title {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.comanda .text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

/* ----------- Comanda icon ---------------- */
.comanda-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comanda-icon {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--clients-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.comanda-icon:hover,
.comanda-icon:focus {
  fill: var(--white-color);
  background-color: var(--theme-color);
  background-size: 44px;
}

/* --------------Gallery ------------------*/

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-left: -30px;
  margin-top: -30px;
}

.gallery-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  background: #ffffff;
  
}
/* .gallery-item:hover,
.gallery-item:focus {
  box-shadow: var(--box-shadows-item);
} */


.gallery-item-link:hover,
.gallery-item-link:focus {
  display: block;
  box-shadow: var(--box-shadows-item);
}



.gallery-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.gallery-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.gallery-thumb {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;

}

/* --------CLIENTS----------------  */

.clients-list {
  display: flex;
}
.clients-list .item {
  
  width: 172px;
  height: 92px;
}

.clients-list .item:not(:last-child) {
  margin-right: 30px;
}
.icon {
  display: flex;
  width: 100%;
  height: 100%;
  fill: var(--clients-color);
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--clients-color);
}
.icon:hover,
.icon:focus {
  fill: var(--theme-color);
  border: 1px solid var(--theme-color);
  border-radius: 4px;
}

/* --------------FOOTER--------------  */
.footer {
  background-color: var(--bgcolor-accent);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-list {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}
.address {
  color: var(--white-color);
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 9px;
}

.footer .contacts {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
}
.footer-contacts:not(:last-child) {
  margin-bottom: 9px;
}
.connect {
  margin-left: 70px;
  
}
.connect-list {
  display: flex;
}
.connect-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
.connect-icon {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.connect-list .item:not(:last-child) {
  margin-right: 10px;
}
.connect-icon:hover,
.connect-icon:focus {
  background-color: var(--theme-color);
}
